body {
    background-color: #15202B;
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
        }

body > header, body > footer {
    background-color: #181819;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body > header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

footer {
    bottom: 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.1);
}

.btn-primary {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.btn-primary:hover {
    background-color: #1A91DA;
    border-color: #1A91DA;
}

.card {
    background-color: #192734;
    border: none;
    color: white;
}

.text-muted {
    color: grey !important;
}
.card-footer {
    background-color: transparent;
    border-top: 1px solid #ffffff;
}

.list-group-item {
    background-color: #192734;
    border: none;
    color: white;
}

.btn-outline-success {
    border-color: #1DA1F2;
    color: #1DA1F2;
}

.btn-outline-success:hover {
    background-color: #1DA1F2;
    color: white;
}

.index-bg {
    z-index: 1000;
}